---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

    <header class="post-header">
        <div class="post-header__wrapper container">
            <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
            <div class="post-context">
                <div><i class="post-metaIcon icon-calendar"></i><span class="post-metaItem"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">publié le {{ page.date | date: "%d/%m/%Y" }}</time></span></div>
                <div><i class="post-metaIcon icon-clock"></i><span class="post-metaItem">Temps de lecture : {% include read-time.html %}</span></div>
                <div><i class="post-metaIcon icon-pencil"></i><span class="post-metaItem">{% if page.author %}<span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</span></div>
                <div class="post-shareBox">
                    Partager :
                    <a href="#" title="Partager sur Twitter"><i class="icon-twitter color-twitter"></i></a>
                    <a href="#" title="Partager sur Facebook"><i class="icon-facebook color-facebook"></i></a>
                    <a href="#" title="Partager sur Google+"><i class="icon-google-plus color-google"></i></a>
                    <a href="#" title="Partager par e-mail+"><i class="icon-envelope color-mail"></i></a>
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="post-content" itemprop="articleBody">
            {{ content }}
        </div>
    </div>

    {% if site.disqus.shortname %}
    {% include disqus_comments.html %}
    {% endif %}
</article>
